*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
   
    font-size: 18px;
}
.video{
    overflow: hidden;
    width: 100vw;
    height:100%; 
    position:fixed;
    z-index: 0;
    
}
video{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

    :root{
        --color-blue:#099;
         --color-purple:#96FEFF;
        --color-white:#ffffff;
     }
     .textwhite{
        color: #ffffff;
     }
     .bgwhite{
        background-color: #ffffff;
     }
.textblue{
    color: var(--color-blue);
}
.bgblue{
    background-color: var(--color-blue);
}
.textpurple{
    color: var(--color-purple);
}
.bgpurple{
background-color: var(--color-purple);

}

 #class-kol{
    position: absolute;
    top: 0;
   left: 0;
    z-index:1;
    width: 100%;
    height: 100%;
} 
.fa-coffee:before {
    content: "\f0f4";
}
.tm-left{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}
.btn-drink:hover{
    background-color: #099;
    
}
.btn-bottom-drink:hover{
    background-color: #099;
    color: #ffffff !important;
    transition: all .3s;
} 
.btn-bottom-drink:hover a{
   transition: all .3s;
    color: #ffffff !important;
} 
.btn{
transition: all .3s;
padding-block: 35px !important;
height: 100px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.bg-color{
    background-color: rgba(0,0,0,0.6);
    min-height: 70px;
}
.border-botto{
   
    border-bottom: 2px solid var(--color-purple);
    margin-top: 30px !important;
}
.font-size-title{
    font-size: 22px;
}
p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.textcolor-a{
       color: #3CF;
}
.bottom-hot{
   display: none;
}
.hot-coffe:hover.bottom-hot{
display: flex;
}
.hot-coffe:hover.bottom-drink{
    display: none !important;
}